@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
body {
  background-color: #fef9f3;
}
body #Wrap {
  width: 100%;
  min-height: 100vh;
  font-family: "Nanum Gothic", sans-serif;
}

.nav {
  width: 100%;
  border-bottom: 1px solid #000;
  background-color: #fef9f3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
}
.nav .navBox {
  display: flex;
  justify-content: space-between;
}
.nav .navBox .navLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 800;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
  margin-left: 20px;
}
.nav .navBox .navRight {
  display: flex;
  text-align: center;
}
.nav .navBox .navRight div {
  border-left: 1px solid #000;
  padding: 20px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
}
.nav .navBox .navRight > div:nth-child(1) {
  background-color: transparent;
}
.nav .navBox .navRight > div:nth-child(2) {
  background-color: #000;
  color: #fff;
}

.content {
  width: 100%;
  margin-top: 64px;
}
.content section:nth-child(1) {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  border-bottom: 1px solid #000;
}
.content section:nth-child(1) > div:nth-child(1) {
  width: 50%;
  border-right: 1px solid #000;
  background-color: #3b5998;
  display: flex;
  align-items: flex-end;
  padding-left: 20px;
  box-sizing: border-box;
}
.content section:nth-child(1) > div:nth-child(1) > div > span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
}
.content section:nth-child(1) > div:nth-child(1) > div > p {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
  padding-bottom: 20px;
}
.content section:nth-child(1) > div:nth-child(2) {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.content section:nth-child(1) > div:nth-child(2) > div {
  width: 100%;
  max-width: 500px;
  border: 1px solid #000;
  background-color: #fec71f;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}
.content section:nth-child(1) > div:nth-child(2) > div > img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -9px;
}
.content section.partTwo {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}
.content section.partTwo > p:nth-child(1) {
  width: 50%;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
}
.content section.partTwo > p:nth-child(2) {
  width: 50%;
  line-height: 1.3em;
}
.content section.partThree {
  border-bottom: 1px solid #000;
}
.content section.partThree > div.swiperWrap {
  overflow: hidden;
  display: flex;
  align-items: stretch;
  height: auto;
  justify-content: flex-start;
}
.content section.partThree > div.swiperWrap > a.pod {
  width: 44rem;
  border-right: 1px solid #000;
}
.content section.partThree > div.swiperWrap > a.pod:hover div.pod_image div.pod_image_hold {
  clip-path: ellipse(100% 100% at 50% 50%);
  transition: clip-path 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}
.content section.partThree > div.swiperWrap > a.pod > div.pod_image {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.content section.partThree > div.swiperWrap > a.pod > div.pod_image div.pod_image_hold {
  backface-visibility: hidden;
  background-color: #fef9f3;
  clip-path: ellipse(30% 55% at 50% 50%);
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  transition: clip-path 0.4s cubic-bezier(0.55, 0, 0.1, 1);
}
.content section.partThree > div.swiperWrap > a.pod > div.pod_image div.pod_image_hold > img {
  width: 100%;
  transform: rotate(-45deg);
}
.content section.partThree > div.swiperWrap > a.pod > div.pod_image:after {
  content: "";
  display: block;
  width: 100%;
}
.content section.partThree > div.swiperWrap > a.pod > div.pod_info {
  border-top: 1px solid #000;
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
  font-family: "Tilt Warp", cursive;
  font-size: 1.5rem;
}
.content section.partFour {
  width: 100%;
  border-bottom: 1px solid #000;
  background-color: #e5855e;
  padding: 30px 0;
  box-sizing: border-box;
}
.content section.partFour p {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Tilt Warp", cursive;
}

/*# sourceMappingURL=style.css.map */
