// 폰트
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

// 레이아웃
body {
  background-color: #fef9f3;
  #Wrap {
    width: 100%;
    min-height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
  }
}

//상단 네비게이션
.nav {
  width: 100%;
  border-bottom: 1px solid #000;
  background-color: #fef9f3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  .navBox {
    display: flex;
    justify-content: space-between;

    .navLeft {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 800;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: 'Tilt Warp', cursive;
      margin-left: 20px;
    }
    .navRight {
      display: flex;
      text-align: center;
      div {
        border-left: 1px solid #000;
        padding: 20px 30px;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: 'Tilt Warp', cursive;
      }
      > div:nth-child(1) {
        background-color: transparent;
      }
      > div:nth-child(2) {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

// 메인
.content {
  width: 100%;
  margin-top: 64px;

  //section1
  .sectionOne {
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    border-bottom: 1px solid #000;

    > div:nth-child(1) {
      width: 50%;
      border-right: 1px solid #000;
      background-color: #3b5998;
      display: flex;
      align-items: flex-end;
      padding-left: 20px;
      box-sizing: border-box;
      > div {
        > span {
          display: block;
          font-size: 2rem;
          font-weight: bold;
          font-family: 'Tilt Warp', cursive;
        }
        > p {
          font-size: 4rem;
          font-weight: bold;
          font-family: 'Tilt Warp', cursive;
          padding-bottom: 20px;
        }
      }
    }
    > div:nth-child(2) {
      width: 50%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      > div {
        width: 100%;
        max-width: 500px;
        height: 500px;
        border: 1px solid #000;
        background-color: #fec71f;
        box-sizing: border-box;
        display: flex;
        align-items: stretch;
        overflow: hidden;
        > img {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: -9px;
        }
      }
    }
  }

  //section2
  .sectionTwo {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    > p:nth-child(1) {
      width: 50%;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: 'Tilt Warp', cursive;
    }
    > p:nth-child(2) {
      font-weight: 700;
      width: 50%;
      line-height: 1.4em;
    }
  }

  //section3
  .sectionThree {
    position: relative;
    border-bottom: 1px solid #000;
    display: flex;

    div.swiperWrap {
      overflow: hidden;
      display: flex;
      align-items: stretch;
      height: auto;
      justify-content: flex-start;
      width: 40rem;
      border-right: 1px solid #000;

      > a.pod {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        //hover
        &:hover div.pod_image div.pod_image_hold {
          clip-path: ellipse(100% 100% at 50% 50%);
          transition: clip-path 0.6s cubic-bezier(0.55, 0, 0.1, 1);
        }
        &:hover div.pod_image svg {
          opacity: 0;
          transition: opacity 1ms cubic-bezier(0.55, 0, 0.1, 1);
        }
        .pod_image {
          width: 100%;
          overflow: hidden;
          position: relative;
          > svg {
            display: flex;
            position: absolute;
            backface-visibility: hidden;
            left: 50%;
            top: 50%;
            transform: translate3d(-50%, -50%, 0);
            transition: opacity 0.01s cubic-bezier(0.55, 0, 0.1, 1) 0.4s;
            width: 128%;
            z-index: 3;
          }
          .pod_image_hold {
            backface-visibility: hidden;
            background-color: #fef9f3;
            clip-path: ellipse(35% 55% at 50% 50%);
            height: 100%;
            width: 100%;
            // position: absolute;
            // left:50%;
            // top:50%;
            transform: translate3d(0%, 0%, 0) rotate(45deg);
            transition: clip-path 0.4s cubic-bezier(0.55, 0, 0.1, 1);

            > img {
              backface-visibility: hidden;
              position: absolute;
              height: 110%;
              left: -25px;
              object-fit: cover;
              top: -25px;
              transform: translateZ(0) rotate(-45deg);
              width: 110%;
            }
          }
          .pod_image_hold::after {
            content: '';
            display: block;
            padding-bottom: 100%;
            width: 100%;
          }
        }

        .pod_info {
          width: 100%;
          border-top: 1px solid #000;
          padding: 10px 0 10px 20px;
          box-sizing: border-box;
          font-family: 'Tilt Warp', cursive;
          font-size: 1.5rem;
        }
      }
    }
  }

  //section4
  .sectionFour {
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: #e5855e;
    padding: 30px 0;
    box-sizing: border-box;
    p {
      font-size: 4rem;
      font-weight: bold;
      font-family: 'Tilt Warp', cursive;
    }
  }

  //section5
  .sectionFive {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    > p:nth-child(1) {
      width: 50%;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: 'Tilt Warp', cursive;
    }
    > p:nth-child(2) {
      font-weight: 700;
      width: 50%;
      line-height: 1.4em;
    }
  }

  //section6
  .sectionSix {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: calc(100vh - 64px);
    position: relative;
    > .works_info {
      width: 50%;
      background-color: #895434;
      padding: 20px 0 0 20px;
      box-sizing: border-box;
      display: flex;
      align-items: flex-end;
      div.tabWrap {
        > ul {
          display: flex;
          gap: 10px;
          padding-bottom: 30px;
          > li {
            width: 5.8em;
            height: 5.8em;
            display: flex;
            justify-content: center;
            position: relative;

            align-items: center;
            transition: opacity 0.45 cubic-bezier(0.55, 0, 0.1, 1);

            &.active {
              background-color: transparent;
            }
            &.active::before {
              opacity: 1;
              transform: translate(-0.2rem, 0.2rem);
            }
            &.active::after {
              background-color: #fff;
              transform: translate(0.2rem, -0.2rem);
            }
            &.active .pgel_t {
              transform: translate(0.2rem, -0.2rem);
            }

            &::before {
              content: '';
              height: 100%;
              width: 100%;
              left: 0;
              position: absolute;
              top: 0;
              transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
              background-color: #000;
              border-radius: 100%;
              opacity: 0;
            }
            &::after {
              content: '';
              height: 100%;
              width: 100%;
              left: 0;
              position: absolute;
              top: 0;
              transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
              background-color: #895434;
              border: 1px solid #000;
              border-radius: 100%;
            }
            > div {
              z-index: 3;
            }
            > a.pgel_t {
              display: block;
              text-align: center;
              outline: 0;
              text-decoration: none;
              cursor: pointer;
              font-size: 1.4em;
              position: relative;
              transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
              z-index: 3;
              color: #000;
              font-weight: 700;
              padding: 30%;
              box-sizing: border-box;
            }
          }
        }
      }
    }

    > .works_img {
      width: 50%;
      .tabCont {
        display: none;
        > h4 {
          position: absolute;
          left: 20px;
          top: 20px;
          font-size: 4.5rem;
          font-weight: bold;
          font-family: 'Tilt Warp', cursive;
        }
        img {
          width: 100%;
          max-width: 300px;
          object-fit: contain;
        }
      }
    }
  }

  //section7
  .sectionSeven {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    > p:nth-child(1) {
      width: 50%;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: 'Tilt Warp', cursive;
    }
    > p:nth-child(2) {
      font-weight: 700;
      width: 50%;
      line-height: 1.4em;
    }
  }

  //section8
  .sectionEight {
    ul {
      width: 100%;
      li {
        padding: 60px 0;
        border-bottom: 1px solid #000;
      }
    }
  }
}
