// 폰트
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

// 레이아웃
body {
  background-color: #fef9f3;
  #Wrap {
    width: 100%;
    min-height: 100vh;
    font-family: 'Nanum Gothic', sans-serif;
  }
}

//상단 네비게이션
.nav {
  width: 100%;
  border-bottom: 1px solid #000;
  background-color: #fef9f3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  .navBox {
    display: flex;
    justify-content: space-between;

    .navLeft {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 800;
      font-size: 1.5rem;
      font-weight: bold;
      font-family: 'Tilt Warp', cursive;
      margin-left: 20px;
    }
    .navRight {
      display: flex;
      text-align: center;
      div {
        border-left: 1px solid #000;
        padding: 20px 30px;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: 'Tilt Warp', cursive;
      }
      > div:nth-child(1) {
        background-color: transparent;
      }
      > div:nth-child(2) {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

// 메인
.content {
  width: 100%;
  margin-top: 64px;

  //section1
  section:nth-child(1) {
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    border-bottom: 1px solid #000;
   
    > div:nth-child(1) {
      width: 50%;
      border-right: 1px solid #000;
      background-color: #3b5998;
      display: flex;
      align-items: flex-end;
      padding-left: 20px;
      box-sizing: border-box;
      > div {
        > span {
          display: block;
          font-size: 2rem;
          font-weight: bold;
          font-family: 'Tilt Warp', cursive;
        }
        > p {
          font-size: 4rem;
          font-weight: bold;
          font-family: 'Tilt Warp', cursive;
          padding-bottom: 20px;
        }
      }
    }
    > div:nth-child(2) {
      width: 50%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      > div {
        width: 100%;
        max-width: 500px;
        border: 1px solid #000;
        background-color: #fec71f;
        box-sizing: border-box;
        display: flex;
        align-items: stretch;
        > img {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: -9px;
        }
      }
    }
  }

  //section2
  section.partTwo {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 10px 20px;
     box-sizing: border-box;
    > p:nth-child(1) {
      width: 50%;
      font-size: 2.5rem;
      font-weight: bold;
      font-family: 'Tilt Warp', cursive;
    }
    > p:nth-child(2) {
      font-weight: 700;
      width: 50%;
      line-height: 1.4em;
    }
  }

  //section3
  section.partThree {
    position: relative;
    border-bottom: 1px solid #000;
    display: flex;
    > div.swiperWrap {
      overflow: hidden;
      display: flex;
      align-items: stretch;
      height: auto;
      justify-content: flex-start;
      width: 44rem;
      border-right:1px solid #000;

      > a.pod{
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;

        //   //hover
        &:hover div.pod_image div.pod_image_hold {
          clip-path: ellipse(100% 100% at 50% 50%);
          transition: clip-path .6s cubic-bezier(.55,0,.1,1);
        }
        &:hover div.pod_image svg {
          opacity: 0;
          transition: opacity 1ms cubic-bezier(.55,0,.1,1);
        }
        .pod_image{
          width: 100%;
          overflow: hidden;
          position:relative;
          > svg {
            display: flex;
            position: absolute;
            backface-visibility: hidden;
            left: 50%;
            top:50%;
            transform: translate3d(-50%, -50%, 0);
            transition: opacity .01s cubic-bezier(.55, 0, .1, 1) .4s;
            width: 128%;
            z-index: 3;
          }
          .pod_image_hold {
            backface-visibility: hidden;
            background-color: #fef9f3;
            clip-path: ellipse(35% 55% at 50% 50%);
            height: 100%;
            width: 100%;
            // position: absolute;
            // left:50%;
            // top:50%;
            transform: translate3d(0%, 0%, 0) rotate(45deg);
            transition: clip-path .4s cubic-bezier(.55,0,.1,1);
            
           > img {
              backface-visibility: hidden;
              position: absolute;
              height: 110%;
              left: 0;
              object-fit: cover;
              top: 0;
              transform: translateZ(0) rotate(-45deg);
              width: 110%;
            }
          }
          .pod_image_hold::after {
              content: "";
              display: block;
              padding-bottom: 100%;
              width: 100%;
          }
        }

        .pod_info {
           width: 100%;
           border-top:1px solid #000;
           padding: 10px 0 10px 20px;
           box-sizing: border-box;
           font-family: 'Tilt Warp', cursive;
           font-size: 1.5rem;
        }
      }
      // > a.pod{
      //   width: 44rem;     
      //   border-right: 1px solid #000;
        
      //   //hover
      //   &:hover div.pod_image div.pod_image_hold {
      //     clip-path: ellipse(100% 100% at 50% 50%);
      //     transition: clip-path .6s cubic-bezier(.55,0,.1,1);
      //   }

      //   > div.pod_image {
      //     width: 100%;
      //     overflow: hidden;
      //     position: relative;

      //     div.pod_image_hold {
      //       backface-visibility: hidden;
      //       background-color:#fef9f3;
      //       clip-path: ellipse(30% 55% at 50% 50%);
      //       height: 100%;
      //       width: 100%;
      //       transform: rotate(45deg);
      //       transition: clip-path .4s cubic-bezier(.55, 0, .1, 1);

      //       > img {
      //         width: 100%;
      //         transform: rotate(-45deg);
      //       }
      //     }
      //   }
      //   > div.pod_image:after {
      //     content: "";
      //     display: block;
      //     width: 100%;
      //   }
      //   > div.pod_info {
      //     border-top:1px solid #000;
      //     padding: 10px 0 10px 20px;
      //     box-sizing: border-box;
      //     font-family: 'Tilt Warp', cursive;
      //     font-size: 1.5rem;
      //   }
      // }
    }
  }

  //section4 
  section.partFour {
    width: 100%;
    border-bottom: 1px solid #000;
    background-color: #e5855e;
    padding: 30px 0;
    box-sizing: border-box;
    p {
      font-size: 4rem;
      font-weight: bold;
      font-family: 'Tilt Warp', cursive;
    }
  }
}
